<style>
h1 {
  font-family: sans-serif;
  color: gray;
}
body {
  text-align: center;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}
.axis text {
	font: 10px sans-serif;
	fill: gray;
  font-weight: 300;
}
.axis line, .axis path {
	shape-rendering: crispEdges;
	fill: none;
	stroke: silver;
}

div.legend {
  margin-right: 20px;
}

div.legend-item {
  float: right;
  margin-bottom: 6px;
  margin-left: 12px;
}

div.legend .marker {
  width: 18px;
  height: 18px;
  cursor: pointer;
  border-radius: 2px;
  display: inline-block;
  vertical-align: middle;
}

div.legend .label {
  cursor: pointer;
  padding: 0 10px;
  text-transform: uppercase;
  font-size: 14px;
  color: gray;
  font-weight: 300;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

div.interval-selection, div.plot-type-selection {
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #aaa;
  font-size: 12px;
  margin: auto;
  margin-bottom: 12px;
  margin-right: 20px;
}

div.interval-selection {
  max-width: 250px;
}

div.plot-type-selection {
  max-width: 110px;
}

.interval-selection div.selector {
  width: 20%;
}

.plot-type-selection div.selector {
  width: 50%;
}

div.selector {
  display: inline-block;
  padding: 6px 2px;
  border-radius: 2px;
  cursor: pointer;
  box-sizing: border-box;
}

div.selector.selected {
  background: #aaa;
  color: white;
}

.plot {
  padding: 0 20px;
}

.plot:after {
  content: '';
  display: block;
  clear: both;
}

.plot h2 {
  font-weight: 300;
  margin-right: 20px;
  text-align: right;
}

.left-col {
  width: 235px;
  float: left;
  margin-left: -100%;
}

.right-col-wrapper {
  width: 100%;
  float: left;
  min-width: 600px;
}

.right-col {
  margin-left: 235px;
}

rect.overlay {
  stroke: none;
  fill: none;
  pointer-events: all;
  cursor: row-resize;
}

.volume-plot .axis.x text {
  display: none;
}

/*.volume-plot .box rect {
  stroke: steelblue;
  fill: lightsteelblue;
  fill-opacity: 0.6;
}*/

.border {
  stroke: silver;
  shape-rendering: crispEdges;
  fill: none;
}

svg text.loading {
  font-family: sans-serif;
  font-style: italic;
  fill: gray;
  text-anchor: middle;
  dominant-baseline: center;
}

.box {
	/*shape-rendering: crispEdges;*/
}

/*.box rect {
  stroke: black;
  fill: silver;
}

.buy-thresh line {
  stroke: steelblue;
}

.buy-thresh rect {
  stroke: none;
  fill: steelblue;
  fill-opacity: 0.15;
}

.buy-thresh text {
  fill: steelblue;
  font-size: 12px;
  font-family: sans-serif;
  text-anchor: middle;
}

.sell-thresh {
  stroke: lightpink;
}

.sell-thresh rect {
  stroke: none;
  fill: lightpink;
  fill-opacity: 0.15;
}

.box rect.bull {
  fill: #64FF64;
}

.box rect.bear {
  fill: #FF6464;
}

.box rect.highlighted {
  fill: #FFC900;
}

path.vwap {
 stroke: steelblue;
 stroke-width: 1px;
 fill: none;
}

path.min-max {
  stroke: none;
  fill: black;
  fill-opacity: 0.1;
}

path.quantiles {
  stroke: none;
  fill: steelblue;
  fill-opacity: 0.25;
}*/

</style>